!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Conditional Correlation
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fonts/awesome/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ng-grid.min.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body